<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Gym System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SceltaAbbonamento</display-name>
    <servlet-name>SceltaAbbonamento</servlet-name>
    <servlet-class>javax.servlet.http.HttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SceltaAbbonamento</servlet-name>
    <url-pattern>/SceltaAbbonamento</url-pattern>
    <url-pattern>/WebContent/pricing.jsp</url-pattern>
    <url-pattern>/Atleta.java</url-pattern>
  </servlet-mapping>
</web-app>